<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">

<!-- <link rel="preload" href="https://use.typekit.net/myf5hgw.css" as="style" onload="this.rel='stylesheet'"> -->
<meta name="description" content="Houndstooth provides design, branding, product, UI/UX, web development, content, and SEO services to startups looking to scale">
<meta property="og:image" content="https://www.houndstoothsc.com/assets/images/thumbnail_web.jpg" />
<title>Houndstooth Design & Communications</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "WebSite",
  "name": "houndstoothsc",
  "alternateName": "houndstooth",
  "url": "https://www.houndstoothsc.com/"
}
</script>


 <style>

  /*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * halyard-display:
 *   - http://typekit.com/eulas/00000000000000003b9b224a
 * halyard-text:
 *   - http://typekit.com/eulas/00000000000000003b9b2272
 * nimbus-sans-extended:
 *   - http://typekit.com/eulas/00000000000000003b9af904
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-01-02 12:35:19 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=myf5hgw&ht=tk&f=10805.34661.34701&a=8252185&app=typekit&e=css"); @font-face {
    font-family: "nimbus-sans-extended";
    src: url("https://use.typekit.net/af/b13282/00000000000000003b9af904/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b13282/00000000000000003b9af904/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b13282/00000000000000003b9af904/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "halyard-display";
    src: url("https://use.typekit.net/af/36ad94/00000000000000003b9b224a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/36ad94/00000000000000003b9b224a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/36ad94/00000000000000003b9b224a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "halyard-text";
    src: url("https://use.typekit.net/af/10aa90/00000000000000003b9b2272/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/10aa90/00000000000000003b9b2272/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/10aa90/00000000000000003b9b2272/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

.tk-nimbus-sans-extended {
    font-family: "nimbus-sans-extended",sans-serif;
    font-display: swap;
}

.tk-halyard-display {
    font-family: "halyard-display",sans-serif;
    font-display: swap;
}

.tk-halyard-text {
    font-family: "halyard-text",sans-serif;
    font-display: swap;
}





 .content--switch,.content--switch-current{
      display:none!important;
    }
    footer > .container > .right_container > .social-media > ul > li a:hover{

        filter:grayscale(0) contrast(1);
        -webkit-filter:grayscale(0) contrast(1);
        -moz-filter:grayscale(0) contrast(1);

    }
    .stick_only{
      overflow:hidden!important;
    }
    .houndstooth-logo > a{
      display:inline-block;
    }
    body.fix_only{
        height:100vh;
        overflow:hidden;
      }
      #css-award-badge{
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 9999;
        display:none;
      }
      #css-award-badge img{
        width: 100px;
      }
      a{
        outline:none!important;
      }
      @media screen and (max-width:768px){
         #css-award-badge{
          display:none!important;
         }
         #awwwards{
          display:none!important;
         }
      }
  </style>


<link rel='stylesheet' type="text/css" href="assets/css/home.css">
<style>


	@media screen and (min-width:1600px){
		.container{
			width:calc(100% - 200px)!important;
			max-width:1920px;
		}
	}
</style>


    <!-- Start VWO Asynchronous Code -->
<script type='text/javascript'>
var _vwo_code=(function(){
var account_id=410563,
settings_tolerance=2000,
library_tolerance=2500,
use_existing_jquery=false,
/* DO NOT EDIT BELOW THIS LINE */
f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
</script>
<!-- End VWO Asynchronous Code -->

  </head>

  <body>
 	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106143262-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-106143262-4');
	</script>

    <header class="light_menu">
      <nav>
        <a href="./">
          <img src="assets/icons/logo@2x.png" alt="Houndstooth Strategic Communications">
        </a>
        <span id="menu" class="menu-trigger">menu <img src="assets/icons/menu-dots.png" alt="menu"></span>
      </nav>
    </header>

    <a id="css-award-badge" href="https://www.cssdesignawards.com/sites/houndstooth/35229/" target="_blank">
      <img src="assets/icons/cssda-special-kudos-black.png">
    </a>



  <div class="new_mobile_menu">
    <span class="collapse_menu_items">
      <img src="assets/icons/menu_close@2x.png" alt="menu close">
    </span>
    <span class="white_logo">
      <a href="./">
        <img src="assets/icons/white_icon@2x.png" alt="menu white">
      </a>
    </span>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="houndstooth-about-us/">About</a></li>
      <li><a href="houndstooth-design-work/">Our Work</a></li>
      <li><a href="" data-url="mailto:contact@houndstoothsc.com">Contact</a></li>
    </ul>
  </div>



<div id="awwwards" style="position: fixed; z-index: 99; transform: translateY(-50%); top: 50%;  right: 0"><a href="https://www.awwwards.com/sites/houndstooth" target="_blank"><svg width="53.08" height="171.358"><path class="js-color-bg" fill="#9BD4D7" d="M0 0h53.08v171.358H0z"></path><g class="js-color-text" fill="#fff"><path d="M20.047 153.665v-1.9h3.888v-4.093h-3.888v-1.9h10.231v1.9h-4.59v4.093h4.59v1.9zM29.898 142.236c-.331.565-.784.997-1.359 1.294s-1.222.446-1.944.446c-.721 0-1.369-.149-1.943-.446a3.316 3.316 0 0 1-1.36-1.294c-.331-.564-.497-1.232-.497-2.002s.166-1.438.497-2.002a3.316 3.316 0 0 1 1.36-1.294c.574-.297 1.223-.445 1.943-.445.723 0 1.369.148 1.944.445a3.307 3.307 0 0 1 1.359 1.294c.331.564.497 1.232.497 2.002s-.166 1.438-.497 2.002m-1.703-3.347c-.435-.33-.967-.496-1.601-.496-.633 0-1.166.166-1.601.496-.433.332-.649.78-.649 1.346 0 .564.217 1.013.649 1.345.435.331.968.497 1.601.497.634 0 1.166-.166 1.601-.497.435-.332.649-.78.649-1.345.001-.566-.214-1.014-.649-1.346M22.911 134.852v-1.813h1.186a3.335 3.335 0 0 1-.951-1.009 2.423 2.423 0 0 1-.352-1.271c0-.682.19-1.229.57-1.645.381-.413.932-.621 1.652-.621h5.262v1.812h-4.721c-.419 0-.727.096-.921.285-.195.19-.292.447-.292.769 0 .302.115.58.35.833.234.254.577.458 1.03.613.454.156.993.234 1.616.234h2.938v1.813h-7.367zM29.898 125.136a3.314 3.314 0 0 1-1.359 1.294c-.575.297-1.222.445-1.944.445-.721 0-1.369-.148-1.943-.445a3.322 3.322 0 0 1-1.36-1.294c-.331-.565-.497-1.232-.497-2.002 0-.771.166-1.438.497-2.003a3.313 3.313 0 0 1 1.36-1.293c.574-.297 1.223-.446 1.943-.446.723 0 1.369.149 1.944.446s1.028.728 1.359 1.293.497 1.232.497 2.003c.001.769-.166 1.436-.497 2.002m-1.703-3.347c-.435-.331-.967-.497-1.601-.497-.633 0-1.166.166-1.601.497-.433.331-.649.778-.649 1.345 0 .564.217 1.013.649 1.344.435.332.968.498 1.601.498.634 0 1.166-.166 1.601-.498.435-.331.649-.779.649-1.344.001-.567-.214-1.014-.649-1.345M22.911 117.75v-1.812h1.199c-.419-.265-.742-.586-.972-.966s-.345-.784-.345-1.213c0-.272.05-.569.146-.892l1.682.336a1.429 1.429 0 0 0-.205.76c0 .576.261 1.048.783 1.418.521.37 1.342.557 2.461.557h2.617v1.812h-7.366zM29.812 111.252c-.391.511-.857.851-1.403 1.016l-.776-1.446c.381-.138.68-.329.893-.577.215-.249.321-.544.321-.885a1.2 1.2 0 0 0-.168-.658c-.112-.175-.294-.263-.548-.263-.225 0-.406.105-.548.313-.142.21-.291.534-.446.973-.019.068-.058.17-.117.307-.224.565-.506 1.004-.848 1.315-.34.313-.779.467-1.314.467-.381 0-.727-.102-1.039-.306a2.185 2.185 0 0 1-.744-.84 2.554 2.554 0 0 1-.279-1.207c0-.497.105-.949.314-1.359.211-.408.506-.725.886-.949l.993 1.082c-.43.292-.644.686-.644 1.184a.84.84 0 0 0 .154.504.471.471 0 0 0 .401.212c.176 0 .338-.103.49-.307.15-.205.334-.604.547-1.199.205-.564.474-1.001.805-1.308.332-.308.756-.46 1.271-.46.721 0 1.299.229 1.732.687s.65 1.057.65 1.797c.001.759-.194 1.396-.583 1.907M35.481 17.006l-4.782 14.969h-3.266l-2.584-9.682-2.584 9.682h-3.268l-4.782-14.969h3.713l2.673 10.276 2.525-10.276h3.445l2.524 10.276 2.674-10.276zM37.978 27.163c1.426 0 2.496 1.068 2.496 2.495 0 1.425-1.07 2.495-2.496 2.495-1.425 0-2.494-1.07-2.494-2.495-.001-1.427 1.069-2.495 2.494-2.495"></path></g></svg></a></div>







		<main id="boxer_content">

						<div id="content-1" class="content content--switch content--switch-current">
				<h2 class="content__title">Houndstooth Design & Communications</h2>
				<div class="content__subtitle">Houndstooth provides design, branding, product, UI/UX, web development, content, and SEO services to startups looking to scale.</div>
			</div>
			<div id="content-2" class="content content--switch">
				<h2 class="content__title">Houndstooth - Our work</h2>
				<div class="content__subtitle">A collection of case studies based on the work of Houndstooth and its designers.</div>
			</div>
			<div id="content-3" class="content content--switch">
				<h2 class="content__title">Houndstooth - About us</h2>
				<div class="content__subtitle">Find out more about Houndstooth, its design, and the people make the magic happen.</div>
			</div>
			<div id="content-4" class="content content--switch">
				<h2 class="content__title">Houndstooth - Atidiv Case Study</h2>
				<div class="content__subtitle">Houndstooth worked with Atidiv to design and develop a new website and branding to make it look edgier and smarter.</div>
			</div>
			<div id="content-5" class="content content--switch">
				<h2 class="content__title">Houndstooth - LA Collective Case Study</h2>
				<div class="content__subtitle">Houndstooth worked with LA Collective to provide branding, design, and web development services to the fashion e-commerce company.</div>
			</div>
			<div id="content-6" class="content content--switch">
				<h2 class="content__title">Houndstooth - RepairBee</h2>
				<div class="content__subtitle">Houndstooth worked with Repairbee to provide a 360 degree brand overhaul with an all-new website and design.</div>
			</div>
			<nav class="grim">
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--1" style="background-image:url('../assets/images/h_pattern.png');background-size: contain;"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--2"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--3"></div>
					<div class="grim__item-content">
						<div class="grim__item-inner">
							<button class="menu-trigger menu-trigger--close">- close</button>
						</div>
					</div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--4"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--5"></div>
					<a href="#content-1" class="grim__link grim__item-content" data-url="home">
						<div class="grim__item-inner">
							<h3 class="grim__item-title" style="font-size:20px;letter-spacing:0.5px;">Home</h3>
						</div>
					</a>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--6"></div>
					<div class="grim__item-img grim__item-img--1" style="background-color:#2b2b2b;"></div>
					<a href="#content-2" class="grim__link grim__item-content">
						<div class="grim__item-inner">
													</div>
					</a>
					<div class="grim__item-bg grim__item-bg-cover grim__item-bg--6"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--7"></div>
					<div class="grim__item-img grim__item-img--2" style="background-image: url(../assets/images/h_pattern.png);"></div>
					<a href="#content-3" class="grim__link grim__item-content">
						<div class="grim__item-inner">
																				</div>
					</a>
					<div class="grim__item-bg grim__item-bg-cover grim__item-bg--7"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--8"></div>
					<div class="grim__item-img grim__item-img--3" style="background-color:#f8f8f8;" data-img="contact.gif"></div>
					<a href="#content-4" class="grim__link grim__item-content" data-img="contact.gif" data-url="contact">
						<div class="grim__item-inner">
							<h3 class="grim__item-title" style="font-size:40px;color:#000;">Contact</h3>
													</div>
					</a>
					<div class="grim__item-bg grim__item-bg-cover grim__item-bg--8"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--9"></div>
					<div class="grim__item-img grim__item-img--4" style="background-color:#ff3f3f;" data-img="about1.gif"></div>
					<a href="#content-5" class="grim__link grim__item-content" data-url="houndstooth-about-us" data-img="about1.gif">
						<div class="grim__item-inner">
							<h3 class="grim__item-title" style="font-size:50px;color:#fff;">About</h3>
													</div>
					</a>
					<div class="grim__item-bg grim__item-bg-cover grim__item-bg--9"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--10"></div>
					<div class="grim__item-img grim__item-img--5" style="background-color:#000"  data-img="work.gif"></div>
					<a href="#content-6" class="grim__link grim__item-content" data-url="houndstooth-design-work" data-img="work.gif">
						<div class="grim__item-inner">
							<h3 class="grim__item-title" style="color:#fff;font-size:75px;">Our Work</h3>
													</div>
					</a>
					<div class="grim__item-bg grim__item-bg-cover grim__item-bg--10"></div>
				</div>
			</nav>
		</main>



<section id="loader">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</section>

<div class="preloader">

</div>

<section class="home_banner_block">
	<div class="banner_element">
		<a href="houndstooth-about-us"><span>About Us</span></a>
	</div>
	<div class="middle_banner_element">
		<div class="center_text_wrap">
			<h2 style="transform:translateY(-300px);opacity:0;">Hola!</h2>
			<h1 style="transform:translateY(300px);opacity:0;">We’re<br class="desktop"> Houndstooth</h1>
		</div>

	</div>
	<div class="last_banner_element" style="display:none;">
		<a href="mailto:contact@houndstoothsc.com"><span>contact@houndstoothsc.com</span></a>
	</div>
</section>
<div class="we_do">
	<p><span>What We Do</span></p>
</div>

<div class="direction_bar">
	<div class="upper_bar">
		<span class="rod"></span>
	</div>
	<div class="invert_bar">
		<span class="rod"></span>
	</div>
</div>



<section class="work_block">
	<h2>What We Do</h2>
	<div class="work_key_points">
		<ul>
			<li data-duration="600" class="highlight_brand" style="transform:translateX(-100px);opacity:0;" data-page-url="lacollective">Branding</li>
			<li data-duration="600" style="transform:translateX(-100px);opacity:0;" data-page-url="atidiv">Web Design</li>
			<li data-duration="600" style="transform:translateX(-100px);opacity:0;" data-page-url="wink&nod">Packaging</li>
			<li data-duration="600" style="transform:translateX(-100px);opacity:0;" data-page-url="techweek">Content & SEO</li>
		</ul>
	</div>
	<div class="canvas_block">
		<div class="canvas_block_img">
			<img  alt="Houndstooth - LAcollective branding" class="active_block" data-src="assets/images/Branding_new.png" web-src="assets/images/Branding_new.webp"  data-page-url="lacollective">

			<img  alt="Houndstooth - Atidiv web design" data-src="assets/images/web_design.png" web-src="assets/images/web_design.webp"  data-page-url="atidiv">

			<img  alt="Houndstooth -  winknod packaging" web-src="assets/images/Packaging_new.webp" data-src="assets/images/Packaging_new.png"  data-page-url="wink&nod">
			<img  alt="Houndstooth - Techweek content & seo" web-src="assets/images/content_seo.webp" data-src="assets/images/content_seo.png"  data-page-url="techweek">

		</div>
	</div>
	<a href="houndstooth-design-work/" title="Houndstooth - Design & Work" class="all_work_showcase">See All Our Work</a>
</section>


<section class="our_identity">
	<!-- <h3>Who We Are</h3> -->
	<p class="few_lines">
		<span>We weave creativity with </span>
	</p>
	<p class="few_lines">
		<span>strategy to build distinctive</span>
	</p>
	<p class="few_lines">
		<span>and meaningful brands.</span>
	</p>
	<a href="houndstooth-about-us/" title="Houndstooth - About us" id="know_us" class="strike">CLICK BAIT TO KNOW HOW</a>
</section>


<section class="projects_we_work">
	<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
	<div class="placeholder_block">
					<div><img src=assets/images/qrius-typeface-white@2x.png alt=Houndstooth-Qrius></div>
					<div><img src=assets/images/wink-and-nod@2x.png alt=Houndstooth-Winknnod></div>
					<div><img src=assets/images/techweek-logo@2x.png alt=Houndstooth-Techweek></div>
					<div><img src=assets/images/atidiv-logo@2x.png alt=Houndstooth-Atidiv></div>
					<div><img src=assets/images/repairbee@2x.png alt=Houndstooth-Repairbee></div>
					<div><img src=assets/images/lacollective-logo@2x.png alt=Houndstooth-LAcollective></div>
					<div><img src=assets/images/mailcontrol-logo@2x.png alt=Houndstooth-Mailcontrol></div>
					<div><img src=assets/images/blackwatch-logo@2x.png alt=Houndstooth-Blackwatch></div>
					<div><img src=assets/images/aces-logo@2x.png alt=Houndstooth-Aces-extract></div>
					<div><img src=assets/images/CB1brands-logo@2x.png alt=Houndstooth-CB1-brand></div>
					<div><img src=assets/images/argyle-logo@2x.png alt=Houndstooth-Argyle></div>
					<div><img src=assets/images/harlequin-logo@2x.png alt=Houndstooth-Harlequin></div>

	</div>
	<p class="our-work-title">
		Our Clients
	</p>
</section>










<footer>



  <div class="container">

    <div class="left_container">

      <div class="houndstooth-logo">
        <a href="./">
        <img src="assets/images/footer_new_logo@2x.png" alt="footer menu">
      </a>
      </div>

      <div class="office-address">
      <p>
        <span>Miami Beach</span><br>
        3315,<br>
        Collins Ave
      </p>
      <p>

             <span>Mumbai</span><br>
      801, El Tara,<br>
      Hiranandani Powai
      </p>
    </div>

    </div>


    <div class="right_container">

    <div class="social-media">
      <ul>
        <li>
          <a href="https://www.facebook.com/houndstoothdesign/" rel="nofollow" target="_blank"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/houndstooth-sc/" rel="nofollow" target="_blank"></a>
        </li>
        <li>
          <a href="https://dribbble.com/Houndstooth" target="_blank"></a>
        </li>
        <li>
          <a href="https://www.behance.net/houndstoothsc" target="_blank"></a>
        </li>
      </ul>
    </div>

    <p class="reserved">
      © 2018 Houndstooth Strategic Communications<br>
All Rights Reserved.
    </p>

    </div>



  </div>

<div class="strip_box">
      <img src="assets/images/footer_strip@2x.png" alt="Houndstooth pattern">
</div>

</footer>




    <script src="assets/js/output.min.js"></script>
    <!-- <script src="assets/js/demo.js" async></script> -->
    <!-- <script src="assets/js/imagesloaded.pkgd.min.js" async></script> -->
    <!-- <script src="assets/js/anime.min.js" async></script> -->
    <script src="assets/js/menu2.js" async></script>
    <script>
    $(document).ready(function(){

        $('.grim__link').on('mouseover',function(){
            var datai = $(this).attr('data-img');

            $(this).siblings('.grim__item-img').css({'background-image':'url(assets/images/'+datai+')','background-size':'cover'});
        });
        $('.grim__item-img').on('mouseenter', function(){
            var data = $(this).attr('data-img');
            $(this).css({'background-image':'url(assets/images/'+data+')','background-size':'cover'});
            $(this).siblings('.grim__link').addClass('modifier');
        });
        $('.grim__item-img').on('mouseleave', function(){
             $(this).siblings('.grim__link').removeClass('modifier');
            $(this).css({'background-image':'url("")','background-size':'cover'});
        });

        $('.grim__item-bg--5').on('mouseenter', function(){
            var data = $(this).attr('data-img');
            $(this).css({'background-image':'url(assets/images/'+data+')','background-size':'cover'});
            // $(this).siblings('.grim__link').addClass('modifier');
        });
        $('.grim__item-bg--5').on('mouseleave', function(){
             // $(this).siblings('.grim__link').removeClass('modifier');
            $(this).css({'background-image':'url("")','background-size':'cover'});
        });

        $('.grim__item-bg--5').on('mouseenter', function(){
            // $(this).siblings('.grim__link').find('h3').addClass('modifier2');
        });

        $('.grim__item-bg--5').on('mouseleave', function(){
            $(this).siblings('.grim__link').find('h3').removeClass('modifier2');
        });


         if($(window).width() <= 768 ){
            $('span#menu').on('click', function(){
                $('.new_mobile_menu').addClass('uplift_view');
                $('body').addClass('fix_only');
                setTimeout(function(){
                $('.new_mobile_menu > ul > li').each(function(i){
                  var $item = $(this);
                  setTimeout(function(){
                            $item.addClass('slow_fade');
                    },150*i);
              });
              },250);
          });



            $('.collapse_menu_items').on('click', function(){
                $('.new_mobile_menu').removeClass('uplift_view');
                $('body').removeClass('fix_only');

                setTimeout(function(){
                      $('.new_mobile_menu > ul > li').each(function(i){
                        var $item = $(this);
                        setTimeout(function(){
                            $item.removeClass('slow_fade');
                        },150*i);
                    });
                },250);

            });



            var mobile_url = '/';
              $('.new_mobile_menu > ul > li > a').on('click', function(e){
                  e.preventDefault();

                  var rel_uri = $(this).attr('href');

                  if(rel_uri != '' && rel_uri != './'){

                      $('.preloader').css('height','100vh');
                      setTimeout(function(){
                          window.location.href = mobile_url+rel_uri;
                      },500);

                  }
                  else if(rel_uri == './'){
                        $('.preloader').css('height','100vh');
                      setTimeout(function(){
                          window.location.href = mobile_url;
                      },500);
                  }
                  else{

                      setTimeout(function(){
                          window.location.href = 'mailto:contact@houndstoothsc.com';
                      },200);
                  }

              });



         }






    });

    </script>





<script type="text/javascript">
		$(document).ready(function(){



			var work_prog = $('.work_block').offset().top;

			$('.work_key_points ul > li').mouseenter(function(){

				var self = $(this);
				var pos = $(this).index();

				if(pos == 0 && $(this).hasClass('highlight_brand') == false){


					$('.work_key_points ul > li').removeClass('highlight_brand highlight_pack highlight_content highlight_web');
					$(self).addClass('highlight_brand');

				}
				else if(pos == 1 && $(this).hasClass('highlight_web') == false){


					$('.work_key_points ul > li').removeClass('highlight_brand highlight_pack highlight_content highlight_web');
					$(self).addClass('highlight_web');
					// $('.support_background').css('background','#000');


				}
				else if(pos == 2 && $(this).hasClass('highlight_pack') == false){


					$('.work_key_points ul > li').removeClass('highlight_brand highlight_pack highlight_content highlight_web');
					$(self).addClass('highlight_pack');
					// $('.support_background').css('background','#818EBE');


				}
				else if(pos == 3 && $(this).hasClass('highlight_content') == false){


					$('.work_key_points ul > li').removeClass('highlight_brand highlight_pack highlight_content highlight_web');
					$(self).addClass('highlight_content');
					// $('.support_background').css('background','#818EBE');

				}

				$('.canvas_block_img > img').removeClass('active_block');
				$('.canvas_block_img > img:nth-child('+(pos+1)+')').addClass('active_block');
			});


				      function detector(elem) {
				          var elementTop = $('.'+elem).offset().top;
				          var elementBottom = elementTop + $('.'+elem).outerHeight();

				          var viewportTop = $(window).scrollTop();
				          var viewportBottom = viewportTop + $(window).height()*(2/3);

				          var detect =  elementBottom > viewportTop && elementTop < viewportBottom;
				          if(detect){
				          	$('.'+elem).children('span').addClass('reveal_now');
				          }
				          else{
				          	// $('.'+elem).children('span').removeClass('reveal_now');
				          }
				      };


					 $(window).on('resize scroll', function() {

			          detector('few_lines');

				             if($(window).scrollTop() > 150){


									$('.canvas_block').addClass('hide_inside');

									$('.work_key_points > ul > li').each(function(i){
							                var $item = $(this);
							                setTimeout(function(){
							                	$item.addClass('normal_state');

							                },200*i);
							            });


				             	}



			          });

					 var topOff = $('.work_block').offset().top;
					 var baseU = '/';
					 $('.banner_element > a, .all_work_showcase, a#know_us, header a,.houndstooth-logo > a').on('click',function(e){
					 	e.preventDefault();
					 	var reuri = $(this).attr('href');
					 	if(reuri != '' && reuri != './'){

					 		$('.preloader').css('height','100vh');
						 	setTimeout(function(){
						 		window.location.href = baseU+reuri;
						 	},500);
					 	}
					 	else if(reuri == './'){
					 		$('.preloader').css('height','100vh');
						 	setTimeout(function(){
						 		window.location.href = baseU;
						 	},500);
					 	}

					 });

					 $('.grim__link').on('click', function(e){
					 		e.preventDefault();
					 		var menuri = $(this).attr('data-url');
					 		if(menuri != '' && menuri != 'contact' && menuri != 'home'){
					 			$('.preloader').css('height','100vh');
					 			setTimeout(function(){
							 		window.location.href = baseU+menuri;
							 	},500);
					 		}
					 		else if(menuri == 'contact'){
					 			 window.location.href = 'mailto:contact@houndstoothsc.com';
					 		}
					 		else if(menuri == 'home'){
					 			return false;
					 		}

					 });


					 $('')

					 var workTop = $('.work_block').offset().top;

					 $('.we_do > p > span').on('click', function(){
					 	$('body,html').animate({
					 		scrollTop: workTop,
					 	},600);
					 });

					 var key_uri = '/houndstooth-';
					 $('.work_key_points > ul > li,.canvas_block_img > img').on('click', function(e){
					 		e.preventDefault();
					 		var setUri = $(this).attr('data-page-url');
					 		$('.preloader').css({'height':'100vh','background-color':'#fff'});
					 		setTimeout(function(){
					 			window.location.href = key_uri+setUri;
					 		},500);
					 });



		});
	</script>
  <!-- <script type="text/javascript" src="assets/js/smoothScroll.js"></script>	 -->

  <script>

      $(document).ready(function(){



      	  $(window).load(function(){



      	  		$('#loader').addClass('anime');

      	  		var gliding = anime({
      	  			targets: '.center_text_wrap h2',
      	  			translateY:0,
      	  			opacity: 1,
      	  			duration:1500,
      	  			easing: 'easeInOutQuart'
      	  		});
      	  		var glider = anime({
      	  			targets: '.center_text_wrap h1',
      	  			translateY: 0,
      	  			opacity: 1,
      	  			duration:1500,
      	  			// delay:100,
      	  			easing:'easeInOutQuart'
      	  		});
      	  		setTimeout(function(){
      	  			$('header').addClass('dark_menu');
      	  		},800);
      	  		$('.upper_bar > .rod, .invert_bar > .rod, .home_banner_block > .last_banner_element > a > span, .home_banner_block > .banner_element > a > span, .we_do > p > span').addClass('evolve');



      	  	// $('#loader').css('display','none');
      	  });

      });

    </script>

    <script>
    	Modernizr.on('webp', function(result) {
			  if (result) {

			    function webp() {
					var imgDefer = document.getElementsByTagName('img');
						for (var i=0; i<imgDefer.length; i++) {
							if(imgDefer[i].getAttribute('web-src')) {
								imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('web-src'));
							}
						 }
					 }
					 window.onload = webp;

			  } else {
			    function init() {
					var imgDefer = document.getElementsByTagName('img');
						for (var i=0; i<imgDefer.length; i++) {
							if(imgDefer[i].getAttribute('data-src')) {
								imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
							}
						 }
					 }
					 window.onload = init;
			  }
			});

		// function init() {
		// var imgDefer = document.getElementsByTagName('img');
		// 	for (var i=0; i<imgDefer.length; i++) {
		// 		if(imgDefer[i].getAttribute('data-src')) {
		// 			imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
		// 		}
		// 	 }
		//   }

</script>



  </body>
</html>
